*{
    margin:0;
    padding:0;
}
html,body{
    height:100%;
}

body{
    display:flex;
    justify-content:center;
    align-items:center;
    background:url('2.jpg') no-repeat center/cover;
}
.register{
    width:300px;
    height:400px;
    background:url('2.jpg') no-repeat center/cover;

}

.title{
    color:#FFFFFF;
    text-align:center;
    font-size:2em;
}
.content{
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    align-items:center;
}